<!--
  Generated template for the LoginRegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="true">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form (ngSubmit)="login()" *ngIf="isLoginPage">
    <ion-item padding>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="user.username"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <div padding>
      <button ion-button color="primary" block type="submit">Login</button>
    </div>
  </form>

  <form (ngSubmit)="register()" *ngIf="!isLoginPage">
    <ion-item padding>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" name="username" [(ngModel)]="user.username" (ionBlur)="checkUsername()"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" name="password" [(ngModel)]="user.password" (ionBlur)="checkPasswordMatch()"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label floating>Confirm password</ion-label>
      <ion-input type="password" name="confirm-password" [(ngModel)]="user.confirmPassword" (ionBlur)="checkPasswordMatch()"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item padding>
      <ion-label floating>Fullname</ion-label>
      <ion-input type="text" name="fullname" [(ngModel)]="user.full_name"></ion-input>
    </ion-item>

    <div padding>
      <button ion-button color="primary" block type="submit" [disabled]="existedUsername || passwordNotMatched">Register</button>
    </div>
  </form>

  <div padding>
    <button ion-button block color="light" (click)="toggleLoginRegister()">{{ isLoginPage ? 'I want to register' : 'Back to login' }}</button>
  </div>
</ion-content>
